.container {
    width: 500px;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    margin: 10px;
    color: white;
}
.container div{
    margin-left: 10px;
}
.btnContainer{
    width: 500px;
    background: linear-gradient(#406644, #73e244);
    padding: 20px;
}
.btnContainer button{
    background: white;
    color:  #4caf50;
    font-weight: bold;
    padding: 5px;
    margin-left: 10px;
}
.high{
    color:#720808;
    font-weight: bold;
}
.low{
    color:green;
    font-weight: bold;
}
.middle{
    color:yellow;
    font-weight: bold;
}